@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


html {
  scroll-behavior: smooth;
} 


body {
  background-color: rgb(163, 163, 163);
  background-image: url('https://cdna.artstation.com/p/assets/images/images/013/765/656/large/jk-riki-bg-w7.jpg?1541010107');
  background-size: cover;
  margin: 0;
  font-family: 'Chango', cursive;
  font-family: 'Permanent Marker', cursive;
  
}

h1 {
  font-size: 8rem;
  color: rgb(255, 47, 20);
  position: relative;
  text-shadow: 8px 8px 30px rgb(255, 183, 0);
}

.container:before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0px;
  background-color: rgba(0, 0, 0, .5);

}

.container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.start {
  position: relative;
}

.best-score {
  font-size: 4rem;
  position: relative;
  color: red;
  margin-top: 6rem;
}

.ok-btn {
  position: absolute;
  top: 52%;
  color: black;
}

.over-container {
  top: 122%;
  color: red;
  font-size: 5rem;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 5;
  justify-content: center;
  align-items: center;
}

.over {
  padding: 4rem 8rem 14rem;
  background-color: rgb(17, 5, 5);
  color: red;
  border-radius: 15px;
  box-shadow: 4px 4px 100px red;

}

.hidden {
  display: none;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 16rem 25rem;
}

.heading-container a {
  color: black;
  text-decoration: none;
}

.game-container {
  display: flex;
  max-width: 850px;
  flex-wrap: wrap;
  padding: 1rem;
}

.score-title,
.score-text {
  /* border: 1px solid orange; */
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 1.4rem;
  color: rgb(255, 123, 0);
  /* padding: 5px; */
}

.score-title {
  height: 35%;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 50px; */
  align-items: flex-end;
}

.score-text {
  height: 65%;
  /* border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; */
  align-items: flex-start;
  margin-top: 0;
  font-size: 2.5rem;
}

.score {
  height: 150px;
  width: 150px;
  border: 15px solid orange;
  background-color: rgb(250, 187, 71);
  border-radius: 100px;
  margin: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  justify-content: space-between;
  font-family: 'Chango', cursive;
  position: relative;
}

.new-div {
  height: 150px;
  width: 150px;
  margin: 10px;
  display: inline-block;
}

.card {
  border-radius: 100px;
  box-shadow: 4px 4px 20px rgb(211, 211, 211);
}


.new-div-inner{
  /* border: 1px solid black; */
  /* background-color: green; */
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0;
  /* display: inline-block; */
  color: white;
  transition: 1s;
  /* transform: rotateY(180deg); */
  /* margin: 10px; */
  transform-style: preserve-3d;
 
}

.back {
  background-image: url('./gifs/coin.png');
  background-size: 200px 200px;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  margin: 0;
}
.front {
  border: 10px solid rgb(250, 192, 46);
  box-sizing: border-box;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  transform: rotateY(180deg);
  transition: 1s;
  color: black;
  background-size: cover;
  border-radius: 100px;
  background-position: center;
}

.visible {
  transform: rotateY(180deg);
}




.card-1 {
  background-image: url('./gifs/1.gif');
}
.card-2 {
  background-image: url('./gifs/2.gif');
}
.card-3 {
  background-image: url('./gifs/3.gif');
}
.card-4 {
  background-image: url('./gifs/4.gif');
}
.card-5 {
  background-image: url('./gifs/5.gif');
}
.card-6 {
  background-image: url('./gifs/6.gif');
}
.card-7 {
  background-image: url('./gifs/7.gif');
}
.card-8 {
  background-image: url('./gifs/8.gif');
}
.card-9 {
  background-image: url('./gifs/9.gif');
}
.card-10 {
  background-image: url('./gifs/10.gif');
}
.card-11 {
  background-image: url('./gifs/11.gif');
}
.card-12 {
  background-image: url('./gifs/12.gif');
}




.btn-container {
  display: flex;
  margin-top: 0px;
  position: relative;


}
.btn {
  padding: .7rem 1.7rem;
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  font-size: 3rem;
  box-shadow: 2px 2px 30px rgb(255, 0, 0); 
}

.btn:focus,
.btn:hover {
  background-color: rgb(151, 0, 0);
  color: white;
}